:root {
  --primary-font: Roboto, sans-serif;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}

/* Main styles */
body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.p-footer {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 72px;
  max-width: 264px;
}
footer .span-logo {
  color: var(--cloud);
}

.f-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/**
  |============================
  | HEADER
  |============================
*/

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.h-logo {
  margin-right: 76px;
}

.header .span-logo {
  color: var(--navy-blue);
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

.head-container {
  display: flex;
  align-items: center;
  height: 72px;
}

.header .navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.navigation .nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.navigation .nav-link {
  color: var(--navy-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--ocean);
}

address {
  font-style: normal;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.adress-info {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-info:hover,
.adress-info:focus {
  color: var(--ocean);
}

/**
  |============================
  | TITLE SECTION
  |============================
*/
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.title-section {
  background-color: var(--navy-blue);
  letter-spacing: 0.02em;
  padding: 188px 0;
}

.main-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn {
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.btn {
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/**
  |============================
  | QUALITIES SECTION
  |============================
*/

.qualities-section {
  padding: 120px 0;
}

.qualities-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.qualities-list-item {
  width: calc((100% - 72px) / 4);
}

.qualities-titles {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 8px;
}

.qualities-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/**
  |============================
  | SERVICES SECTION
  |============================
*/

.services-section {
  padding-bottom: 120px;
}

.serv-container {
  margin: 0 auto;
  align-content: center;
}

.services-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--navy-blue);
  line-height: 1.11;
  margin-bottom: 72px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-list-item {
  width: calc((100%-2 * 24px) / 3);
}
/**
  |============================
  | TEAM-SECTION
  |============================
*/

.team-section {
  background-color: var(--cloud);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--navy-blue);
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white);
  width: calc((100%-3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
}

.t-list-container {
  padding: 32px 0px;
}

.team-list-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 38px;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}

/**
  |============================
  | PORTFOLIO FILE
  |============================
*/

.buttons {
  padding: 96px 0 120px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.port-buttons {
  cursor: pointer;
  background-color: var(--cloud);
  color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
}

.port-buttons:hover,
.port-buttons:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}

/* PICTURE LINKS */

.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.picture-list-item {
  width: calc((100% - 48px) / 3);
}

.pictures-titles {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 8px;
}

.pictures-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.p-list-container {
  border: 1px solid var(--cornflower);
  padding: 32px 16px;
  border-top: none;
}
